[Unit]
Description=Automatic Sample Rate Changer Daemon for CamillaDSP
After=camilladsp.service 

[Service]
ExecStartPre=sleep 0.5
ExecStart=/usr/local/bin/camilladsp-setrate --loglevel=err --syslog
Restart=always
RestartSec=1
StandardOutput=journal
StandardError=journal
SyslogIdentifier=camilladsp-setrate
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=10
User=dietpi
Group=dietpi

[Install]
WantedBy=camilladsp.service
